.wrapper {
    padding: 100px 0;
    background-color: #f9f9f9;;

/*    text-transform: uppercase;*/
}
.h3{
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 10px;
}
