.page{
    background: url('img/slide-bg-1.jpg') center center/cover no-repeat ;
    height: 100vh;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 22rem;
    color: #ffffff;
    font-size: 4vw;
    line-height: 7.91666667vw;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


@media (max-width: 575.98px){
    .title {
        padding-top: 17rem;
        font-size: 5vw;
    }
}
@media (max-width: 360px) {
    section {
        padding: 0 calc(50% - 150px);
    }
    .title {
        padding-top: 16rem;
        font-size: 6vw;
    }
}